@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat);
  --font-roboto: var(--font-roboto);
  --font-nunito: var(--font-nunito);

  --color-ma-gris-claro: #f4f1e8;
  --color-ma-verde-fondo: #1e2601;
  --color-ma-verdeazul: #011d18;
  --color-ma-amarillo: #f4eb00;

  --image-ma-degadado-verde: linear-gradient(90deg, rgba(1, 29, 24, 1) 0%, rgba(30, 38, 1, 1) 100%);
}

:root {
  --background: #ffffff;
  --foreground: #f4f1e8;
  ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f1e8;
    ;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

}