.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;
    gap: 40px;
}

.embla__slide {
    flex: 0 0 calc((100% - 100px) / 2);
}

#CardUp {
    transform: translateY(-20px) !important;
}

#CardDown {
    transform: translateY(20px) !important;
}