.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;
    gap: 0;
}

@media (min-width: 768px) {
    .embla__container {
        gap: 40px;
    }
}


#CardUp {
    transform: translateY(-20px) !important;
}

#CardDown {
    transform: translateY(20px) !important;
}